/*
 *= require_self
*/

body {
	font-family: "Proxima Nova";
	font-weight: 100;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 100;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.button {
	border: 1px solid #9B9B9B;
	padding: .7rem 1.25rem;
	border-radius: .3rem;
	outline: none;
	background: white;
	color: #9B9B9B;
}

header {
	width: 100%;
	padding: 2rem 0;
	border-bottom: 1px solid #E4E4E4;
	
	#logo {
		float: left;
		font-size: 1.75rem;
		a {
			color: #333233;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}
	}
	nav {
		float: right;
		a {
			margin-left: 1.5rem;
			line-height: 2;
			color: #9B9B9B;
			text-decoration: none;
			&:hover {
				color: #50A7C7;
			}
		}

		/* user menu settings */
		#dropdown { 
		  display: block;
		  padding: 13px 16px;
		  width: 266px;
		  margin: 0 auto;
		  position: relative;
		  cursor: pointer;
		  border-left: 4px solid #739cda;
		  background: #fff;
		  font-size: 1.55em;
		  color: #656565;
		  font-weight: normal;
		  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
		  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
		  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
		  -webkit-transition: all 0.15s linear;
		  -moz-transition: all 0.15s linear;
		  -ms-transition: all 0.15s linear;
		  -o-transition: all 0.15s linear;
		  transition: all 0.15s linear;
		}
		#dropdown:hover { color: #898989; }

		#dropdown.open {
		  background: #5a90e0;
		  color: #fff;
		  border-left-color: #6c6d70;
		}

		#dropdown ul { 
		  position: absolute;
		  top: 100%;
		  left: -4px; /* move content -4px because of container left border */
		  width: 266px;
		  padding: 5px 0px;
		  display: none;
		  border-left: 4px solid #8e9196;
		  background: #fff;
		  -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
		  -moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
		  box-shadow: 1px 1px 2px rgba(0,0,0,0.3);
		}
		#dropdown ul li { font-size: 0.9em; }

		#dropdown ul li a { 
		  text-decoration: none;
		  display: block;
		  color: #447dd3;
		  padding: 7px 15px;
		}
		#dropdown ul li a:hover {
		  color: #6fa0e9;
		  background: #e7f0f7;
		}

	}
}

.flash {
	text-align: center;
	float: left;
	width: 100%;
	padding: 10px 0 10px 0;
	margin-top: 1em;
	color: #D3D3D3;
	
}

/*
 Flash message styles
*/



@import 'home.css.scss';
@import 'posts.css.scss';
@import 'forms.css.scss';